link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cairo|Poppins&display=swap")
link(rel="stylesheet" href="css/font-awesome.min.css")
link(rel="stylesheet" href="css/flaticon.css")
link(rel="stylesheet" href="css/bootstrap.css")
link(rel="stylesheet" href="css/slick.css")
link(rel="stylesheet" href="css/aos.css")
link(rel="stylesheet" href="css/style.css")
