// This Is All Plugins used
// JQuery Plugins include
script(src="js/vendors/jquery-3.3.1.min.js")
// Bootstrap 4 Plugins include
script(src="js/vendors/bootstrap.min.js")

// Custom JQuery File
script(src="js/main.min.js")
