- var inlineList = 'list-inline-item'
- var unstyledList = 'list-unstyled'
- var navLinks = {'home':'Home', 'about': 'About', 'services': 'Services', 'work': 'Our Team', 'contact': 'Contact Us'}
- var socialClass = {'fa fa-twitter': 'https://www.twitter.com/ososlegalgroup','fa fa-instagram': 'https://www.instagram.com/alososlegalgroup/'};